
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>My Event Planner</title>
        <!--<link rel="stylesheet" type="text/css" href="../presentation.css" th:href="@{/presentation.css}" />-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <style>
            #mainTable{
    border-style: solid;
    border-spacing: 10px 10px;
    border-color: #cc99ff #ff9966;
}  
h1{
    color: #000066;
    
}
#add{
    margin-top: 10px;
}
.pClass{
    color: #000066;
    margin-top: 10px;
    font-size: 20px;
}

.inputClass{
    margin-right: 20px;
}
              
          </style>
</head>
<body style="background-color:#eeffcc;">
<h1>Welcome to My Event Planner!</h1>

<p class="pClass">View events:</p>
<table id="mainTable">
                <thead>
                    <tr>
                        <th>Name </th>
                        <th>Date</th>
                        <th>Location</th>
                        <th>Actions</th>
                        
                    </tr>
                </thead>
                <tbody>
                    
                    <tr th:each="event : ${events}">
                        <td th:text="${event.eventName}"></td>
                        <td th:text="${#dates.format(event.eventDate, 'dd/MM/yyyy HH:mm')}"></td>
                        <td th:text="${event.eventAddress}"></td>
                        <td><a th:href="${'/' + event.id}">Edit</a>
                            <a th:href="${'/getdeleted/' + event.id}">Delete</a></td>
                    </tr>
                </tbody>
                
            </table>

            <button id="add" th:onclick="${'javascript:showModal()'}">Add event</button>
        
            <div style="display:none" id="showModal">
                <p class="pClass">Insert event details:</p>
                <form th:action="@{/addEvent}" th:object="${event}" method="post">
                        
                            <label>Name:</label>
                            <input class="inputClass" type="text" th:field="*{eventName}" />
                            <label>Date:</label>
                            <input class="inputClass" type="text" placeholder="dd/MM/yyyy HH:mm" th:field="*{eventDate}"/>
                            <label>Location:</label>
                            <input class="inputClass" type="text" th:field="*{eventAddress}"/>
                            <input type="submit" value="Save event"/>
                         
                </form>
             
            </div>
          
         
            <script th:inline="javascript"> 
                function showModal(){
                    var modal=document.getElementById("showModal");
                   modal.style.display="block";
                }
                
            
            </script>
          
          
</body>
    
    
</html>